<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <title>数据源管理登陆</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap-responsive.min.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/matrix-login.css')}}"/>
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css')}}" rel="stylesheet"/>
    <!--<link href='http://fonts.useso.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>-->

</head>
<body>
<div id="loginbox">
    <form id="loginform" method="post" class="form-vertical" action="/">
        <div class="control-group normal_text"><h3><img src="{{ url_for('static', filename='img/logo.png')}}" alt="Logo"/></h3></div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lg"><i class="icon-user"></i></span><input type="text"
                                                                                      name="name"
                                                                                      placeholder="Username"/>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password"
                                                                                      name="pw"
                                                                                      placeholder="Password"/>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <span class="pull right"><button type="submit" class="btn btn-success"/> 登录</button></span>
        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='js/lib/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/lib/matrix.login.js')}}"></script>
</body>

</html>
